.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    width: 350px;
    margin-top: 10px;
}

.close {
    margin: 5px 3px 2px auto;
    font-size: 10px;
    background-color: white;
    border: none;
}

.input {
    margin: 0 25px;
}

.create {
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
}